<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
</head>
<body>
  <h1>Edit Chat</h1>  
  <p>edit your chat : <%= chat._id %>
  </p>
  <p>this chat was sent from <b>
          <%= chat.from%>
      </b> to <b>
          <%= chat.to %>
      </b>
  </p>
  <form action="/chats/<%= chat.id %>?_method=PUT" method="post">
    <textarea name="msg" cols="35" rows="10"><%= chat.msg %></textarea>
    <button>edit</button>
  </form>
  
</body>
</html>